{{!-- Contact Page --}}
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s4">
                <input id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s4">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8">
                <input id="email" type="text" class="validate">
                <label for="Email">Eamil</label>
            </div>
        </div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s8">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                        <label for="icon_prefix2">Message</label>
                    </div>
                </div>
            </form>
        </div>

      