{{!-- First Section w/ Log In --}}

<div class="parallax-container">
  <div class="section">
    <div class="container">
      <br><br>
      <div class="row">
        <div class="col s6">
          <h1 class="header center blue-text text-lighten-2">Your next great pump is near.</h1>
          <div class="row center">
            <h5 class="header col s12 light">The struggles of partnerless gym sessions are no more, Sign up today.</h5>
          </div>
        </div>
        <div class="col s6">
          <div class="container">
            <div class="z-depth-1 grey lighten-4 row"
              style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE">

              <form class="col s12" method="post">
                <div class='row'>
                  <div class='col s12'>
                  </div>
                </div>

                <div class='row'>
                  <div class='input-field col s12'>
                    <input class='validate' type='email' name='email' id='email' />
                    <label for='email'>Enter your email</label>
                  </div>
                </div>

                <div class='row'>
                  <div class='input-field col s12'>
                    <input class='validate' type='password' name='password' id='password' />
                    <label for='password'>Enter your password</label>
                  </div>
                  <label style='float: right;'>
                    <a class='blue-text' href='#!'><b>Create Account</b></a>
                    <a class='black-text'><b>/</b></a>
                    <a class='green-text' href='#!'><b>Forgot Password?</b></a>
                  </label>
                </div>

                <br />
                <center>
                  <div class='row'>
                    <button type='submit' name='btn_login'
                      class='col s12 btn btn-large waves-effect green darken-3'>Login</button>
                  </div>
                </center>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
</div>

{{!-- Membership Benefits Section --}}
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text"><i class="material-icons">child_care</i></h2>
          <h5 class="center">Great way to meet new friends!</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt tellus eget purus
            pulvinar, eget consectetur ex elementum. Nulla eget sem id felis accumsan imperdiet vel condimentum libero.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text"><i class="material-icons">fitness_center</i></h2>
          <h5 class="center">Keep track of your progress and personal bests!</h5>

          <p class="light">Cras varius, augue a interdum porta, nunc est porta nibh, et pellentesque nulla magna vitae
            nunc. Ut tempus finibus convallis. Ut interdum finibus orci.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text"><i class="material-icons">people</i></h2>
          <h5 class="center">Communicate with other fitness enthusiasts</h5>

          <p class="light">Proin bibendum lectus at libero sollicitudin, vel placerat metus lacinia. Aenean id arcu
            blandit, consequat tortor sed, blandit arcu. Cras pellentesque elit risus, eu viverra ligula dignissim sit
            amet. </p>
        </div>
      </div>
    </div>

  </div>
</div>

{{!-- Recommended Articles --}}
<div class="container">
  <div class="section">
    <div class="row">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/KRxMk4s.jpg">
              <span class="card-title">5 CrossFit WODs Every Bodybuilder Should Try</span>
              <a class="btn-floating halfway-fab waves-effect waves-light green"
                href="https://www.bodybuilding.com/content/5-crossfit-wods-every-bodybuilder-should-try.html"><i
                  class="material-icons">keyboard_arrow_right</i></a>
            </div>
            <div class="card-content">
              <p>Ready to bury the hatchet? Do it by giving these five popular WODs (Workout of the Day) a try. They all
                bridge the divide between aesthetics and functionality, and honestly, may actually help with your gains.
              </p>
            </div>
          </div>
        </div>
        <div class="col s6" id="subArticleOne">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/AbJuecV.jpg">
              <span class="card-title black-text">Exercize And Your Heart</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"
                href="https://www.bodybuilding.com/content/the-surprising-way-exercise-helps-your-heart.html"><i
                  class="material-icons">keyboard_arrow_right</i></a>

            </div>
            <div class="card-content">
              <p>You always knew running was good for your heart, but how good? Running can have far more benefits than
                just melting fat, Find out what other great things strapping on the old running shoes and hitting the
                pavement can bring.</p>
            </div>
          </div>
        </div>
        <div class="col s6" id="subArticleTwo">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/FnmNwpJ.jpg">
              <span class="card-title">Beginner's Guide</span>
              <a class="btn-floating halfway-fab waves-effect waves-light blue"
                href="https://www.bodybuilding.com/content/the-ultimate-beginners-full-body-workout.html"><i
                  class="material-icons">keyboard_arrow_right</i></a>
            </div>
            <div class="card-content">
              <p>This is a very simple beginner's full body workout to get you started on your fitness journey strong.
              </p>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>