{{!-- Profile Page --}}
<div class="row">
  <div class="col s12 m7">
    <div class="card-large">
      <div class="card-image">
        <img src="Mocking-Spongebob.jpg">
        <span id="card-logo" class="card-title"></span>
      <p>
            <strong></strong>: {{exapmle.id}}</p>
          <p>
            <p>
              <strong></strong>: {{example.text}}</p>
            <p>
              <strong></strong> {{example.description}}</p>
   
   </div>
      <div id="example-list" class="card-content">
        <p> Info to be loaded dynamically</p>
      </div>
      <div class="card-action">
        <a href="/">← Back To Home</a>
      </div>
    </div>
  </div>
</div>

