body {
  background-color: #d9d9d9;
}

.list-group-item {
  line-height: 2.5;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
  text-align: center;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  width: 100%;
}

.parallax-container .section {
  width: 100%;
  text-align: center;
}

.footer {
  position: fixed;
}

#sign_up {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

#logo-container {
  font-family: "Permanent Marker", cursive;
  font-size: 40px;
  color: #ffd699;
}

#mainTitle {
  margin-top: 150px;
  font-size: 30px;
}

#articleOne {
  border-radius: 10px;
}

#gitLinks {
  text-align: center;
  font-size: 25px;
  font-family: "Permanent Marker", cursive;
}

span {
  font-family: "Permanent Marker", cursive;
}

#articles {
  background-color: #e6e6e6;
  margin-bottom: 100px;
  border-radius: 10px;
  width: 100%;
}

#profilePic {
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

#profileCard {
  margin-top: 100px;
  background-color: #cccc;
  border-radius: 5px;
  margin-bottom: 100px;
  width: 100%;
}

#profile {
  border-radius: 5px;
}

.form-group {
  margin-top: 50px;
}

.posts {
  clear: both;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.posts li {
  background-color: #f2f2f2;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 42px;
  color: black;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-family: "Permanent Marker", cursive;
}

#profilePic {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

#status {
  margin-top: 30px;
}

#contactTitle {
  margin-left: 50px;
  margin-top: 50px;
  font-size: 30px;
}

#contactUs {
  margin-bottom: 120px;
  width: 55%;
  margin-top: 50px;
}

#contactText {
  width: 90%;
  margin: auto;
}
@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
